/** see http://paletton.com/#uid=5341a1klSKo1O++fQVUqDDzx-uWklSKo4z++hKVApxClTpfMklSKo2D++fQVUqDDzx-uW for the colors in use. **/

html {
    background-color: #F1FFF97;
}

h1,h2,h3,h4,h5,h6 {
    color: #9178E4;
}

nav.navbar.navbar-default {
    background-color: #E6DFFF;
    border-color: #A188F2;
}

.navbar-default .navbar-nav>li>a, .navbar-default .navbar-brand {
    color: #160256;
}

a {
    color: #9178E4;
}

pre, code {
    background-color: #E6DFFF;
    color: #160256;
}

body {
    padding-top: 50px;
    padding-bottom: 50px;
    background-color: #F1FFF9;
}

body:not(.about) img { /* All pages except about page have small images.*/
    width: 30%;
    height: auto;
}

body.about img {
	width: 90%;
	height: auto;
	display: block; /* Center the images */
	margin: auto;
}

body.applications ul:not(.nav) { /* Special list style for application page. */
    list-style: none;
    display: inline;
    padding-left: 0;
}

body.applications ul:not(.nav) li { /* Special list style for application page. */
    display: inline;
    padding-right: 1em;
}

