/**

based on logo colors (the hex codes of which appear below). 
a darker green and a lighter purple are also in use.

dark purple: 4d2a6c
grey: 7f7f7f
green: 68bb78
dark gray: 666666
light green: c7e5cc
slightly lighter purple: 502d6f

**/

html {
    background-color: #F1FFF9;
}

h1,h2,h3,h4,h5,h6 {
    color: #4d2a6c;
}

/* Navbar stuff */
nav.navbar.navbar-default {
    background-color: #f2edf7;
    border-color: #b99dd1;
}

.navbar-default .navbar-nav>li>a, .navbar-default .navbar-brand,
.dropdown-menu>li>a {
    color: #4d2a6c;
}

.navbar-default .navbar-nav>.open>a,
.navbar-default .navbar-nav>.open>a:hover,
.navbar-default .navbar-nav>.open>a:focus {
	background-color: #F1FFF9;
	color: #502d6f;
}

.dropdown-menu {
	background-color: #F1FFF9;
}

/* Other stuff */

#navbar-logo-img {
    width: 5em;
    position: relative;
    top: -5px;
}

a {
    color: #68bb78;
}

a:hover, a:focus {
	color: #502d6f;
}

b,strong {
	color: #4d2a6c;
}

pre, code {
    background-color: #d2f1d7;
    color: #2f5737;
}

body {
    padding-top: 50px;
    padding-bottom: 50px;
    background-color: #F1FFF9;
}

@media (max-width: 991px) and (min-width: 768px) {
    body {
        padding-top: 100px;
    }
}

/* All pages except about page have small images.*/
body:not(.about) img { 
    width: 30%;
    height: auto;
}

body.about img {
	width: 90%;
	height: auto;
	display: block; /* Center the images */
	margin: auto;
}

body.home p img {
	width: 80%;
	height: auto;
	display: block; /* Center the images */
	margin: auto;
	padding: .5em 0;
}

/* Special list style for application page. */
body.applications ul:not(.not-app-list) { 
    list-style: none;
    display: inline;
    padding-left: 0;
}

body.applications ul:not(.not-app-list) li {
    display: inline;
    padding-right: 1em;
}

